# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env

# Node
node_modules/
frontend/dist/

# ML Models
*.pt
*.onnx
chroma_db/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# HF Spaces deploy
hf-deploy/
